// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* You can add global styles to this file, and also import other style files */
$color-main: #4a6da7;
$color-light: #fff;
$color-dark: #000000;

* {
  margin: 0;
  padding: 0;
}

.ion-page {
  justify-content: flex-start;
  width: 100vw;
  overflow: scroll;
}

ul, li {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  margin: auto;
}

%my_input {
  border: none;
  border-bottom: 1px solid $color-dark;
}

%my_button {
  border-radius: 5px;
  float: right;
  font-size: 0.5em;
  height: 7vw;
  margin-left: 2vw;
  width: 15vw;
}

.btnContain {
  height: 13vw;
  padding: 10px;
}

.clearBoth {
  position: fixed;
  top: 94%;
}
