@import '../../global';

.apartEdit {
  padding: 10px;
    textarea {
      border: none;
      box-shadow: 3px 3px 10px $color-main;
      display: block;
      font-size: 1em;
      height: 40vw;
      margin: 5px auto;
      padding: 10px;
      width: 94%;
    }
}

.sex {
  font-size: 1em;
  height: 10vw;
  width: 30vw;
}
.age {
  font-size: 1em;
  height: 10vw;
  width: 15vw;
}

.infoTenant {
  background-color: lighten($color-main, 45%);
  border-radius: 5px;
  height: 100vw;
  margin: 10px;
  padding: 10px;
}

  .infoTenant__item {
    border-radius: 2px;
    border: 1px solid $color-main;
    margin-bottom: 3px;
  }
  .infoTenant__date {
    color: lighten($color-dark, 50%);
    font-size: 0.5em;
  }

.myButton {
  @extend %my_button;
}
