
<div class="apartEdit">

  <p>{{this.data.territory[this.data.terrIndex].name}}</p>

  <textarea #description class="apartEdit__info" placeholder="Информация о посещении"></textarea>

  <div class="btnContain">
    <button (click)="getInfo(description.value); description.value=''" class="btn btn-primary myButton" type="button" name="button">Добавить</button>
  </div>

  <ul *ngIf='converter' class="infoTenant">
    <li class="infoTenant__item" *ngFor = 'let info of info'>
      <p class = 'infoTenant__date'>{{this.info.date}}</p>
      <p class = 'infoTenant__desc'>{{this.info.description}}</p>
    </li>
  </ul>
  <!-- <div class="btnContain clearBoth">
    <button (click)='goBack()' class="btn btn-primary myButton" type="button" name="button">Назад</button>
  </div> -->
</div>
