<header>
  <h1>{{title}}</h1>
</header>

<!-- button block -->
<div class="btnContain">
  <ion-button
    (click)='dropConv = !dropConv'
    [size]=sizeBtn
    aria-expanded="false"
    aria-haspopup="true"
    class="sortBy"
    color="secondary"
    data-toggle="dropdown"
    fill="solid"
    shape="round"
    type="button">
      <ion-icon name="list"></ion-icon>
  </ion-button>
  <ion-button
    (click)='converter = true'
    [disabled]='checked'
    [size]=sizeBtn
    class="myButton"
    fill="solid"
    shape="round"
    type="button">
      <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-button
    (click)="data.deleteItem(arrID); terrArrayCheck(); this.arrID = []"
    [disabled] = '!showDelButton'
    [size]=sizeBtn
    class="myButton"
    color='danger'
    fill="solid"
    shape="round"
    type="button">
      <ion-icon name="trash"></ion-icon>
  </ion-button>
  <ion-button
    (click)="showChecked(); selectOrReady = !selectOrReady"
    [size]=sizeBtn
    *ngIf='!selectOrReady'
    class="myButton"
    fill="solid"
    shape="round"
    type="button">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-button>
  <ion-button
    (click)="showChecked(); selectOrReady = !selectOrReady"
    [size]=sizeBtn
    *ngIf='selectOrReady'
    class="myButton"
    fill="solid"
    shape="round"
    type="button">
      <ion-icon name="checkmark"></ion-icon>
  </ion-button>
  <ion-button
    (click)='this.data.sortingByAdres(); dropConv = false'
    [size]=sizeBtn
    *ngIf='dropConv'
    class="sortBy"
    color="tertiary"
    fill="solid"
    shape="round">
      <ion-icon name="home"></ion-icon>
  </ion-button>
  <ion-button
    (click)='this.data.sortingByPct(); dropConv = false'
    [size]=sizeBtn
    *ngIf='dropConv'
    class="sortBy"
    color="tertiary"
    fill="solid"
    shape="round">
      %
  </ion-button>
</div>

<!-- wrapper territories -->

<ul *ngIf='data.territory' class="terContain">
  <li class="terItem"
      *ngFor="let terr of data.territory; let id = index"
      (click)="folloving(id)"
      class="terItem">
    <input *ngIf='checked' type="checkbox" name="" value="" (change) = getDelIndex(id)>
    <p class="terItem__name" #indicator>
      {{terr.name}}
    </p>
    <p class="terItem__pct" class="terItem__pct">
      {{terr.pct}}%
    </p>
    <p class="terItem__own">
      {{terr.own}}
    </p>
  </li>
</ul>
<!-- modal window -->

<div *ngIf='converter'>
  <div class="modalAddTerritory">
    <div class="modalAddTerritory__dialog">
      <p>Название участка</p>
      <input #nameInTmpl type="text" name="" value="" placeholder="Название участка">
      <p class="modalAddTerritory__dialog_p-small">Например: пр. Юбилейный, 12, п. 1</p>
      <div class="btnContain">
        <ion-button
          (click)="addAdress(nameInTmpl.value); nameInTmpl.value = ''"
          [size]=sizeBtn
          class="myButton"
          color='success'
          fill="solid"
          shape="round"
          type="button">
            <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button
          (click)='converter=false'
          [size]=sizeBtn
          class="myButton"
          color='danger'
          fill="solid"
          shape="round"
          type="button">
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</div>
