@import '../../global';

.topHeader {
  background-color: $color-main;
}
.MainTitle {
  color: $color-light;
  font-size: 1.5em;
  line-height: 3em;
  margin: auto;
  width: max-content;
}

 .sortBy {
   @extend %my_button;
   float: left;
 }

 .myButton {
   @extend %my_button
 }

 app-wrapper {
   height: 100%;
   overflow: scroll;
 }

//  wrapper territories

ion-list {
  margin: 0 auto;
  overflow: scroll;
  width: 95vw;
}

ion-item-sliding {
  margin-bottom: 2px;
}

ion-item {
  --background: aliceblue;
  --border-radius: 10px;
  --border-width: 0px 1px 2px 0px;
    // margin-bottom: 3px;
}

ion-item-option {
  border-radius: 10px;
}

.terIcon {
  margin-right: 10px;
}

.terText {
  margin: 5px 0;
}
