@import "../../global";

.terContain {
  padding: 0 30px;
}

  .terItem {
    background-color: lighten($color-main, 40%);
    border: 1px solid $color-main;
    box-shadow: 5px 5px 10px $color-main;
    height: 100px;
    margin-bottom: 10px;
    padding: 0 20px;
      input {
        float: left;
        height: 100%;
        width: 30px;
        margin-right: 30px;
      }
  }
  .terItem__name {
    float: left;
    width: 80%;
    font-size: 2em;
  }
  .terItem__own {
    float: left;
    color: lighten($color-dark, 40%);
    width: 80%;
    font-size: 1.5em;
  }
  .terItem__pct {
    float: right;
    font-size: 2em;
    line-height: 3em;
  }
  .btnDlt {
    width: 30px;
    height: 30px;
  }
  .selected {
    background-color: lighten($color-main, 20%);
    box-shadow: 0px 0px 10px $color-main;
    color: $color-light;
  }
