<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
</ion-content> -->

<!-- <header>
  <h1>{{title}}</h1>
</header> -->

<!-- button block -->
<!--
<div class="btnContain">
  <button type="button" class="btn btn-info myButton sortBy">Сортировать &#10149;</button>
  <button (click)="viewModal()" type="button" class="btn btn-primary myButton">Добавить участок</button>
</div> -->

<!-- <ion-content> -->
  <!-- <app-wrapper></app-wrapper> -->
<!-- </ion-content> -->

<!-- modal window -->

<!-- <div *ngIf='converter'>
  <div class="modalAddTerritory">
    <div class="modalAddTerritory__dialog">
      <p>Название участка</p>
      <input type="text" name="" value="" placeholder="Название участка">
      <p class="modalAddTerritory__dialog_p-small">Например: пр. Юбилейный, 12, п. 1</p>
      <button (click)='hideModal()' class="btn btn-danger myButton" type="button" name="button">Отмена</button>
      <button (click)='hideModal()' class="btn btn-success myButton" type="button" name="button">Добавить</button>
    </div>
  </div>
</div> -->

<!--[(ngModel)]='terr.name'-->
