
<div class="terDetail">
  <div class="terDetail__info clearfix">
    <p *ngIf='!terDetaiNameEdit'>{{this.data.territory[this.data.terrIndex].name}}</p>
    <!-- изменить адрес -->
    <p *ngIf='terDetaiNameEdit'>
      <input [(ngModel)]='this.data.territory[this.data.terrIndex].name' type="text" name="" value="">
      <ion-button
        (click)="this.dataSave.createJSON(this.data.territory); terDetaiNameEdit=false"
        class="myButton"
        color="success"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </p>
    <!-- Кнопка "Изменить адрес" -->
    <ion-button
      (click)="terDetaiNameEdit=true"
      class='myButton'
      fill="solid"
      name="button"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>
  <!-- Назначение участка -->
  <div class="terDetail__info clearfix">
    <p *ngIf='!terDetaiOwnEdit'>{{this.data.territory[this.data.terrIndex].own}}</p>
    <p *ngIf='terDetaiOwnEdit'>
      <input [(ngModel)]='this.data.territory[this.data.terrIndex].own' type="text" name="" value="">
      <ion-button
        (click)="this.dataSave.createJSON(this.data.territory); terDetaiOwnEdit=false"
        class="myButton"
        color="success"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </p>
    <!-- Кнопка "Назначить участок" -->
    <ion-button
      (click)='terDetaiOwnEdit=true'
      class='myButton'
      fill="solid"
      name="button"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

  <div class="btnContain">
    <!-- Добавить квартиры -->
    <ion-button
      (click)='apWin=true'
      class='myButton'
      color="success"
      fill="solid"
      name="button"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="add"></ion-icon>
    </ion-button>
    <!-- Сортировать квартиры -->
    <ion-button
      (click)='sort=true'
      class='myButton'
      fill="solid"
      name="button"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="apps"></ion-icon>
    </ion-button>
    <!-- Удалить квартиры -->
    <ion-button
      (click)="data.deleteAppart(arrID); this.arrID = []"
      [disabled] = '!showDelButton'
      class="myButton"
      color="danger"
      fill="solid"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="trash"></ion-icon>
    </ion-button>
    <!-- Выбрать квартиры -->
    <ion-button
      (click)="showChecked(); selectOrReady = !selectOrReady"
      *ngIf='!selectOrReady'
      class="myButton"
      fill="solid"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
    <ion-button
      (click)="showChecked(); selectOrReady = !selectOrReady"
      *ngIf='selectOrReady'
      class="myButton"
      fill="solid"
      shape="round"
      size="small"
      type="button">
        <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</div>

  <!-- appartaments wrapper  -->

  <table *ngIf='data.territory[data.terrIndex].appartaments' class="terDetail__apart">
    <tr *ngFor='let floor of data.territory[data.terrIndex].appartaments'>
      <td #indicator
      (click)='folloving(indicator.textContent)'
      *ngFor="let appart of floor"
      [ngStyle]="{'background-color': appart.color}">{{appart.num}}
        <input *ngIf='checked' type="checkbox" name="" value="" (change) = getDelIndex(indicator.textContent)>
    </td>
    </tr>
  </table>

  <!-- add appartaments dialog -->
  <div *ngIf='apWin' class="addAppart">
    <p>Добавить квартиры</p>
    <span>с </span>
    <input #firstAppartNum type="text" name="" value="">
    <span> по </span>
    <input #lastAppartNum type="text" name="" value="">
    <div class="btnContain">
      <ion-button
        (click)="getAppartArray(firstAppartNum.value, lastAppartNum.value); apWin=false"
        class="myButton"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button
        (click)='apWin=false'
        class="myButton"
        color="danger"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- sorting dialog -->

  <div *ngIf='sort' class="addAppart">
    <p>Сколько квартир на этаже?</p>
    <input #floorCapacity type="text" name="" value="">
    <div class="btnContain">
      <ion-button
        (click) = "data.resorting(+floorCapacity.value); sort=false"
        class="myButton"
        color="success"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button
        (click)='sort=false'
        class="myButton"
        color="danger"
        fill="solid"
        name="button"
        shape="round"
        size="small"
        type="button">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
  </div>

    <div (click)='infoConverter = false' *ngIf='infoConverter' class="addBgrnd">
      <table>
        <tr (click)='getBgrnd($event)'>
          <td class="bgrnd nd"></td>
          <td class="description">Нет дома</td>
        </tr>
        <tr (click)='getBgrnd($event)'>
          <td class="bgrnd ps"></td>
          <td class="description">Повторное посещение</td>
        </tr>
        <tr (click)='getBgrnd($event)'>
          <td class="bgrnd ndf"></td>
          <td class="description">Нет домофона</td>
        </tr>
        <tr (click)='getBgrnd($event)'>
          <td class="bgrnd no"></td>
          <td class="description">Отказ</td>
        </tr>
        <tr (click)='getBgrnd($event)'>
          <td class="bgrnd categorical"></td>
          <td class="description">Категорический отказ</td>
        </tr>
      </table>
    </div>
