@import '../../global';

.terDetail {
  background-color: $color-light;
}

.terDetail__info {
  padding: 10px 10px 0 10px;
  p {
    float: left;
    width: max-content;
  }
  input {
    border: none;
    box-shadow: 1px 1px 1px $color-main;
  }
}
.terDetail__apart {
  td {
    border-radius: 5px;
    border: 1px solid;
    height: 10vw;
    text-align: center;
    width: 10vw;
    position: relative;
      input {
        left: -3px;
        position: absolute;
        top: -3px;
      }
  }
}

.myButton {
  @extend %my_button;
}

.addAppart {
  background-color: $color-main;
  border-radius: 5px;
  height: 25vw;
  left: 25vw;
  margin: auto;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 50vw;
   p, span {
     color: $color-light;
     font-size: 0.8em;
   }
    input {
      font-size: 0.8em;
      height: 5vw;
      width: 10vw;
    }
}

.addBgrnd {
  background-color: transparentize($color-main, 0.2);
  height: 100%;
  position: absolute;
  width: 100vw;
    table {
      background-color: $color-main;
      border-radius: 5px;
      box-shadow: 20px 20px 37px #4a6da7;
      color: $color-light;
      margin: 150px auto;

    }
}

%sample {
  border: 1px solid $color-dark;
  border-radius: 5px;
  height: 10vw;
  width: 10vw;
}

.nd {
  @extend %sample;
  background-color: #c5c6c4;
}

.ps {
  @extend %sample;
  background-color: #36c427;
}

.ndf {
  @extend %sample;
  background-color: #516ac6;
}

.no {
  @extend %sample;
  background-color: #f4bc42;
}

.categorical {
  @extend %sample;
  background-color: #f44245;
}
